<% for(var i=0;i<owner.length;i++){ %>

    <tr>
        <td><%= i+1 %></td>
        <td><%= owner[i].name %></td>
        <td><%= owner[i].email %></td>
        <td><%= owner[i].phone %></td> 
    </tr>
    <% } %>
